@charset "utf-8";
/* CSS Document */


.input_file{
	background: url(../img/bg_input_file.png) no-repeat;
	border: none;
	width: 202px;
	height: 26px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	margin:0 0 0 0;
	padding:0 0 0 0px;	
}

.input_file:focus{ background-color: transparent;}

input {
	background: url(../img/bg_input_file.png) no-repeat;
	border: none;
	width: 202px;
	height: 26px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	margin:0 0 0 0;
	padding:0 0 0 0px;
}

input:focus {
	background-color: transparent;
}

div.fileinputs {
	position: relative;
	height: 26px;
	width: 202px;
}

input.file {
	width: 274px;
	margin: 0;
}

input.file.hidden {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 274px;
	height:26px;
	padding: 0;
	margin: 0;
	z-index: 1;	
}

div.fakefile input {
	position:relative;
	bottom:8px;
	margin:0 0 0px 0;
	padding:5px 0 0px 10px;
}